@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.info {
  color: #888;
}

.funny-button{
  position: 'relative';
  width: auto;
  height: auto;
  margin: 'auto' 
}